<div class="links">
    <div class="grid">
        <div class="col-1-4">
            <p><a href="https://nodered.org">Node-RED</a>: Low-code programming for event-driven applications.</p>
        </div>
        <div class="col-1-4">
            <ul>
                <li><a href="https://github.com/node-red/node-red" target="_blank">GitHub</a></li>
                <li><a href="https://www.npmjs.com/package/node-red" target="_blank">npm</a></li>
                <li><a href="https://nodered.jp/docs">ドキュメント</a></li>
                <li><a href="https://nodered.jp/docs/api">API</a></li>
            </ul>
        </div>
        <div class="col-1-4">
            <ul>
                <li><a href="https://flows.nodered.org" target="_blank">Flowライブラリ</a></li>
                <li><a href="https://nodered.jp/about/">概要</a></li>
                <li><a href="https://nodered.jp/about/conduct">行動規範</a></li>
                <li><a href="https://nodered.jp/about/community">コミュニティ</a></li>
            </ul>
        </div>
        <div class="col-1-4">
            <ul>
                <li><a href="https://nodered.org/blog" target="_blank">ブログ</a></li>
                <li><a href="https://twitter.com/nodered">Twitter</a></li>
                <li><a href="https://discourse.nodered.org" target="_blank">フォーラム</a></li>
                <li><a href="https://nodered.jp/slack">Slack</a></li>
                <li><a href="https://nodered-slack.herokuapp.com/">Slack（日本ユーザ会）</a></li>
                <li><a href="https://www.facebook.com/groups/noderedjp/">Facebookグループ（日本ユーザ会）</a></li>
            </ul>
        </div>
    </div>
    <div class="grid openjs">
        <div class="col-1-4">
            <a href="https://openjsf.org"><img class="openjs-logo" src="https://nodered.org/images/openjs_foundation-logo.svg" /></a>
</div>
        <div class="col-3-4">
            <p>Copyright <a href="https://openjsf.org">OpenJS Foundation</a> and Node-RED contributors. All rights reserved. The <a href="https://openjsf.org">OpenJS Foundation</a> has registered trademarks and uses trademarks.  For a list of trademarks of the <a href="https://openjsf.org">OpenJS Foundation</a>, please see our <a href="https://trademark-policy.openjsf.org">Trademark Policy</a> and <a href="https://trademark-list.openjsf.org">Trademark List</a>.  Trademarks and logos not indicated on the <a href="https://trademark-list.openjsf.org">list of OpenJS Foundation trademarks</a> are trademarks&trade; or registered&reg; trademarks of their respective holders. Use of them does not imply any affiliation with or endorsement by them.</p>
            <p><a href="https://openjsf.org">The OpenJS Foundation</a> | <a href="https://terms-of-use.openjsf.org">Terms of Use</a> | <a href="https://privacy-policy.openjsf.org">Privacy Policy</a> | <a href="https://bylaws.openjsf.org">OpenJS Foundation Bylaws</a> | <a href="https://trademark-policy.openjsf.org">Trademark Policy</a> | <a href="https://trademark-list.openjsf.org">Trademark List</a> | <a href="https://www.linuxfoundation.org/cookies">Cookie Policy</a></p>
        </div>
    </div>
</div>

<div class="links">

</div>

<script>
  $(function() {
    $(".menu").click(function(e) {
        var s = $(".navigation").slideToggle('hide');
        e.preventDefault();
    });

    $(".flow").hide();
    $('<button class="copy-button" type="button">コピー</button>').prependTo(".flow").click(function(e) {
        var ta = document.createElement('textarea');
        ta.value = $(this).next()[0].innerText;
        ta.style.position = 'absolute';
        ta.style.left = '-3000px';
        document.body.appendChild(ta);
        ta.select();
        document.execCommand('copy');
        document.body.removeChild(ta);
        $(this).text("コピーしました!");
        var self = $(this);
        setTimeout(function() {
            self.text("コピー");
        },3000)
    })
    $('<button class="show-flow-button" type="button">フローを表示</button>').insertBefore(".flow").click(function(e) {
        if ($(".flow").is(":visible")) {
            $(".flow").slideUp();
            $(this).text("フローを表示");
        } else {
            $(".flow").slideDown();
            $(this).text("フローを隠す");
        }
    })
  });
</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-EJKFNR6HJ5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-EJKFNR6HJ5');
</script>

</body>
</html>
