<div class="links">
    <div class="grid">
        <div class="col-1-3">
            <p><a href="https://nodered.org">Node-RED</a>: Low-code programming for event-driven applications.</p>
            <p>A project of the <a href="https://openjsf.org//">OpenJS Foundation</a>.</p>
        </div>
        <div class="col-1-6">
            <ul>
                <li><a href="https://github.com/node-red/node-red" target="_blank">GitHub</a></li>
                <li><a href="https://www.npmjs.com/package/node-red" target="_blank">npm</a></li>
                <li><a href="https://nodered.jp/docs">ドキュメント</a></li>
                <li><a href="https://nodered.jp/docs/api">API</a></li>
            </ul>
        </div>
        <div class="col-1-6">
            <ul>
                <li><a href="https://flows.nodered.org" target="_blank">Flowライブラリ</a></li>
                <li><a href="https://nodered.jp/about/">概要</a></li>
                <li><a href="https://nodered.jp/about/conduct">行動規範</a></li>
                <li><a href="https://nodered.jp/about/community">コミュニティ</a></li>
            </ul>
        </div>
        <div class="col-1-6">
            <ul>
                <li><a href="https://nodered.org/blog" target="_blank">ブログ</a></li>
                <li><a href="https://twitter.com/nodered">Twitter</a></li>
                <li><a href="https://discourse.nodered.org" target="_blank">フォーラム</a></li>
                <li><a href="https://nodered.jp/slack">Slack</a></li>
                <li><a href="https://nodered-slack.herokuapp.com/">Slack（日本ユーザ会）</a></li>
                <li><a href="https://www.facebook.com/groups/noderedjp/">Facebookグループ（日本ユーザ会）</a></li>
            </ul>
        </div>
    </div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-849397-6', 'auto');
  ga('send', 'pageview');

  $(function() {
    $(".menu").click(function(e) {
        var s = $(".navigation").slideToggle('hide');
        e.preventDefault();
    });

    $(".flow").hide();
    $('<button class="copy-button" type="button">コピー</button>').prependTo(".flow").click(function(e) {
        var ta = document.createElement('textarea');
        ta.value = $(this).next()[0].innerText;
        ta.style.position = 'absolute';
        ta.style.left = '-3000px';
        document.body.appendChild(ta);
        ta.select();
        document.execCommand('copy');
        document.body.removeChild(ta);
        $(this).text("コピーしました!");
        var self = $(this);
        setTimeout(function() {
            self.text("コピー");
        },3000)
    })
    $('<button class="show-flow-button" type="button">フローを表示</button>').insertBefore(".flow").click(function(e) {
        if ($(".flow").is(":visible")) {
            $(".flow").slideUp();
            $(this).text("フローを表示");
        } else {
            $(".flow").slideDown();
            $(this).text("フローを隠す");
        }
    })
  });
</script>
</body>
</html>
